#main-heading {
    font-size: 60px;
    color: azure;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}

.recipes {
    color: pink;
    list-style-position: inside;
    text-align: center;
    
}

a {
    color: pink;
}

a:hover{
    color: aqua;
}

.recipes .one,
.recipes .two,
.recipes .three {
    font-size: 25px;
    padding: 70px 40px 40px;
    background: darkred;
    height: 60px;
    width: 500px;
    border: 1px solid black;
}

.recipes .two {
    margin-left: auto;
    margin-right: auto;
}

.recipes .three{
    margin-left: auto;
}